.slider_container {
    width: 250px;
    & .range_container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        & button {
            padding: 0 !important;
            border-radius: 50%;
            display: flex;
            height: 25px;
            width: 25px;
            & p {
                margin: auto;
                height: 25px;
                width: 25px;
            }
        }

        .slider {
            -webkit-appearance: none;
            width: 150px;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #04aa6d;
                cursor: pointer;
            }
            &::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #04aa6d;
                cursor: pointer;
            }
        }
    }
}
